{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}
<form action="/" enctype="multipart/form-data">
    <input type="file" name="img">
    <button type="submit" formmethod="post">検索</button>
    {% if img_path %}
    <div>
        <img src="{{img_path}}" style="width: 200px;">
    </div>
    <p>{{img_path}}</p>
    {% endif %}
</form>

<form method="GET" action="/yolov5">
    <button type="submit">yolov5</button>
</form>

<script type="text/javascript">/*Geocoding()で計測した 名前、緯度、経度を渡してる*/
    var name = {{name|tojson}};
    var lat = {{lat|tojson}};
    var lng = {{lng|tojson}};/*<warning> 最後の script src="" の callback=initMap をどうにかしてAPI渡さないと、ずっとマップが黒いままだよ*/
</script>

<div id="sample"></div>
<script src="../static/js/sample.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
{% endblock %}